[Unit]
Description=Run Java JAR

<%
  arguments = @commandline_arguments.map do |k, v|
    if v
      "--#{k}=#{v}"
    else
      "--#{k}"
    end
  end
%>

[Service]
User=<%= @user %>
Type=simple
ExecStart=/usr/bin/java -jar <%= @path_to_jar %><%= ' ' + arguments.join(' ') unless arguments.length.zero? %>
